@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
     font-family: 'Roboto', sans-serif;
     letter-spacing: 3px;

}


.first-container {
     background-color: black;
     padding: 5%;
     margin-bottom: 20px;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
}

/*  hover me button start */

.hover-me {
     width: 300px;
     height: 100px;
     font-weight: 600;
     border: none;
     color: white;
     background-color: #B53471;
     border-radius: 4px;
     box-shadow: inset 0 0 0 0 #fbc531;
     transition: ease-out 0.5s;
     font-size: 2rem;
     outline: none;
}


.hover-me:hover {
     box-shadow: inset 253px 0 0 0 #fbc531;
     color: #000;
     cursor: pointer;
}

/* Click me button start */
.click-me {

     width: 300px;
     height: 100px;
     font-weight: 600;
     color: white;
     border: none;
     outline: none;

     border-radius: 4px;
     background-color: black;
     border: 3px solid #0fb9b1;
     transition: ease-out 0.4s;
     font-size: 2rem;


     position: relative;
     z-index: 1;

}

.click-me:hover {
     color: #fff;
     cursor: pointer;
}

.click-me::before {
     transition: 0.5s all ease;
     position: absolute;
     top: 0;
     left: 50%;
     right: 50%;
     bottom: 0;
     opacity: 0;
     content: "";
     background-color: #0fb9b1;
}


.click-me:hover:before {
     transition: 0.5s all ease;
     left: 0;
     right: 0;
     opacity: 1;
     z-index: -1;
}